numpy==1.18.0
pandas
scikit-learn
jupyter
pipfile
psycopg2-binary
tensorflow==2.3.0
keras
azureml-mlflow==1.15
matplotlib
seaborn
statsmodels
azureml-dataprep
azureml-core==1.15
azure-storage-blob
python-dotenv